@model AnalaticalViewModel
@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="row">
    <div class="col-md-6 col-lg-7 col-12">
        <div class="info mt-4">
            <header class="text-black-alternative">
                <h2 class="fw-bolder display-2 mb-4">
                    Your body can
                    <span class="text-primary-color">stand almost</span> anything
                </h2>

                <p class="mb-6">
                    It's your mind that needs convincing. Push past your limits,
                    stay <br />
                    committed, and watch as your body transform into powerhouse of
                    <br />
                    strength and resilience. Start your journey today & truly
                    capable of!
                </p>
            </header>

            <div class="stats-bar">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.TotalMembers</span>
                            <h3 class="fs-5 fw-normal">Total Members</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.ActiveMembers</span>
                            <h3 class="fs-5 fw-normal">Active Members</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.TotalTrainers</span>
                            <h3 class="fs-5 fw-normal">Trainers</h3>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.UpcomingSessions</span>
                            <h3 class="fs-5 fw-normal">Upcoming Sessions</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.OngoingSessions</span>
                            <h3 class="fs-5 fw-normal">Ongoing Sessions</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.CompletedSessions</span>
                            <h3 class="fs-5 fw-normal">Completed Sessions</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons my-4">
                <button class="get-started bg-primary-color text-white btn rounded-5 fw-medium px-3 py-2 me-5 border-2 border-primary-color">
                    Get Started
                </button>

                <button class="explore-more border-primary-color btn rounded-5 fw-medium px-3 py-2 border-2 text-primary-color fw-medium">
                    Explore More
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-1 offset-md-2 col-12 order-first order-md-last">
        <div class="character d-md-block d-flex justify-content-center">
            <img src="./images/Theo Vance.jpg" alt="Theo Vance" />
        </div>
    </div>
</div>